<div class="form-header">
  <h2>Lookup Record</h2>
</div>
<form action="/result" method="post" >
  <div class="form-field">
    <label for="firstname">firstname</label>
    <textarea class="input" id="firstname" name="First Name"></textarea>
  </div>
  <div class="form-field">
    <label for="lastname">lastname</label>
    <textarea class="input" id="lastname" name="Last Name"></textarea>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
