<div class="form-header">
  <h2>New Record Entry</h2>
</div>
<form method="post">
  <div class="form-field">
    <label for="firstname">firstname</label>
    <textarea class="input" id="firstname" name="First Name"></textarea>
  </div>
  <div class="form-field">
    <label for="lastname">firstname</label>
    <textarea class="input" id="lastname" name="Last Name"></textarea>
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input class="input" id="email" name="email"></textarea>
  </div>
  <div class="form-field">
    <label for="phone">firstname</label>
    <textarea class="input" id="phone" name="Phone"></textarea>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
